mixin software-bar( programm, value, maxValue)    
    .software-bar
        .software-bar__wrapper
            .software-bar__headline= programm
            .software-bar__progress
                progress.software-bar__progress-bar(value= value, max=maxValue)
