.software-bar {
  width: 50%;
  
  &__wrapper {
    width: 86%;
    line-height: 2rem;
    margin: 0 0 0.15rem 0.5rem;
  }

  &__headline {
    font-weight: normal;
    font-size: 1.667rem;
    text-transform: uppercase;
    word-break: break-all;
    margin: 0.5% 0 0.333rem 0;
  }

  &__progress {

    &-bar { 
      min-width: 103%;
      border: 0; /* for IE */
      height: 1.35rem;
      background-color: $zero-color;
      overflow: hidden;
      margin: 0.3rem 20% 1rem 0;

      @media screen and (max-width: $tableWidth) {
        min-width: 130%;
        margin-right: 0;
      }

      @media screen and (max-width: $phoneWidth) {
        min-width: 80% ;
      }
    }

    &-bar::-webkit-progress-value {
      background-color: $borders;
    }

    /* necessary to style the progress bar background */
    ::-webkit-progress-bar {
      background-color: $zero-color ; 
    }
  }
}