mixin list-item(color, degree, date, job, content)
    .list-item
        .list-item__wrapper
            .list-item__dot-container
                .list-item__dot
            .list-item__content-container
                div(class= `list-item__degree_${color}`)= degree
                    span.list-item__date= date
                .list-item__job= job
                .list-item__content= content
