.list-item {   
 
  &__wrapper {
    margin-bottom: 0.8rem;
    display: flex;
    flex-direction:row;
  }

  &__dot-container {
    margin-right: 3%;
    margin-top: 0.5%;
    align-self: flex-start;
  }

  &__dot {
    background: $mainFontColor;
    height: 1.285rem;
    width: 1.285rem;
    border-radius: 50%;
    margin-top: 0.04rem;
    margin-left: 0.9rem;
    @media screen and (max-width: $desktopWidth) {
      height: 1rem;
      width: 1rem;
    }
    @media screen and (max-width: $tableWidth) {
      height: 0.833rem;
      width: 0.833rem;
    }          
  }

  &__content {    
    display: flex;
    flex-direction: column;
  }
  
  &__degree_blue {   
    margin-block-start: 0;
    margin-block-end: 0;
    color: $borders;
    font-weight: bold;
    font-size: 1.667rem;
    text-transform: uppercase;
    line-height: 1.7rem;
  }

  &__degree_black  {   
    margin-block-start: 0;
    margin-block-end: 0;
    color: $mainFontColor;
    font-weight: bold;
    font-size: 1.667rem;
    text-transform: uppercase;
    line-height: 1.7rem;

  }
  
  &__date {
    margin-left: 0.9rem;
    color:$mainFontColor;
    font-weight: normal;
    text-transform: none;
  }
    
  &__job {
    margin-block-start: 0.5%;
    margin-block-end: 0.5%;
    color:$mainFontColor;
    font-weight: lighter;
    margin-top: 0.2rem;
    font-size: 1.667rem;
    letter-spacing: -0.01rem;
    text-transform: uppercase; 
  }

  &__content-container {
    
  }
  &__content {
    margin-left: 0.16rem;
    line-height: 1.225rem;
    font-size: 1rem;
  }
}
