mixin avatar(name, surname, title)
    .avatar
        .avatar__border 
            .avatar__photo 
        h2.avatar__name= name
        h1.avatar__surname= surname
        h3.avatar__title= title