mixin headline(src, text)  
    .headline
        .headline-wrapper
            .headline-wrapper__image
                img(src=src)
            h3.headline-wrapper__text= text
            .headline-wrapper__line