mixin contact_line(position1,position2)
    .contact-line
        .contact-line-wrapper
            div.contact-line-wrapper__container1= position1 
            div.contact-line-warpper__container2= position2