mixin contact_line(position1,position2)
    .contact_line
        .contact_line_wrapper
            div.contact_line_wrapper__container1= position1 
            div.contact_line_warpper_container2= position2