@import "scss_assets/mixins_functions.scss";
.contact-line {
    .contact-line-wrapper {
    width: 100%;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    align-items: center;
    .contact-line-wrapper__container1 {
      min-width: 175px; 
      color: $borders;
      font-family: $boldFont;
      @media screen and (max-width: 1300px) {
        min-width: 115px;
        $min_font_size: 20px;
        $max_font_size: 24px;
        @include fluid-type($smDesktopWidth, 1300px, $min_font_size, $max_font_size);
      }
      @media screen and (max-width: $smDesktopWidth) {
        min-width: 175px !important;
        $min_font_size: 14px;
        $max_font_size: 32px;
        @include fluid-type(100px, $smDesktopWidth, $min_font_size, $max_font_size);
      }
      @media screen and (max-width: 527px) {
        min-width: 115px !important;
      }                         
    }
        .contact-line-warpper__container2
        {
          font-family: $mainFont;
          color: #000000;
          white-space: nowrap;
          @media screen and (max-width: 1300px) {
            min-width: 115px;
            $min_font_size: 20px;
            $max_font_size: 24px;
            @include fluid-type($smDesktopWidth, 1300px, $min_font_size, $max_font_size);
          }
          @media screen and (max-width: $smDesktopWidth) {
            $min_font_size: 14px;
            $max_font_size: 32px;
            @include fluid-type(100px, $smDesktopWidth, $min_font_size, $max_font_size);
          }
        }
  }
}