mixin education-item( degree, date, university_name, content)
    .education-item
        .education-item__dot-container
            .education-item__dot
        .education-item__content
            .education-item__content-degree
                p.education-item__degree= degree
                    span.education-item__date= date
            .education-item__content-university-name
                p.education-item__university-name= university_name
            .education-item__content-content
                p.education-item__content= content
