@import "scss_assets/mixins_functions.scss";
.education-item {   
  margin-top: 50px;
  margin-bottom: -15px;
  display: flex;
  flex-direction:row;

  .education-item__dot {
    margin-right: 5%;
    margin-top: 0.5%;
    align-self: flex-start;

    .dot {
      background: $mainFontColor;
      height: 27px;
      width: 27px;
      border-radius: 50%;
      @media screen and (max-width: $desktopWidth) {
        height: 24px;
        width: 24px;
      }
      @media screen and (max-width: $tableWidth) {
        height: 20px;
        width: 20px;
      }          
    }
  }

  .education-item__content {    
    display: flex;
    flex-direction: column;
    margin-bottom: -5px;

    .education-item__content-1line {
      line-height: 0.9;

      .education-item__degree {   
        margin-block-start: 0px;
        margin-block-end: 0px;
        color: $borders;
        font-family: $boldFont;
        $min_font_size: 24px;
        $max_font_size: 34px;
        @include fluid-type(100px, $desktopWidth, $min_font_size, $max_font_size);

        .education-item__date {
          margin-left: 5%;
          color:$mainFontColor;
          font-size: 1.416rem;
          font-family: $mainFont; 
        }
      }
    }

    .education-item__university-name {
      margin-block-start: 0.5%;
      margin-block-end: 4%;
      font-size: 1.416rem;
      color:$mainFontColor;
      font-family: $lightFont;
      $min_font_size: 24px;
      $max_font_size: 34px;
      @include fluid-type(100px, $desktopWidth, $min_font_size, $max_font_size);   
    }

    .education-item__content-3line {
      margin-top: -6%;
      text-align:justify;
      $min_font_size: 17px;
      $max_font_size: 24px;
      @include fluid-type(100px, $desktopWidth, $min_font_size, $max_font_size);
    }
  }
}