mixin education-item( degree, date, universityName, content)
    .education-item
        .education-item__dot-container
            .education-item__dot
        .education-item__content
            .education-item__degree-wrapper
                p.education-item__degree= degree
                    span.education-item__date= date
            .education-item__university-name-wrapper
                p.education-item__university-name= universityName
            .education-item__content-wrapper
                p.education-item__content= content
