mixin headline( src, text)  
    .headline
        .headline__image-container
            img(src= src, alt="image", class="headline__image")
        h3.headline__text= text
        .headline__line