.headline {
  display:flex;
  flex-direction: row;
  align-items: center;
  @media screen and (max-width: 510px) {
    flex-direction: column;
  }

  .headline__image-container {
    @media screen and (max-width: $tableWidth ) {
      transform: scale(0.8);
    }
    @media screen and (max-width: 530px ) {
      transform: scale(0.7);
    }
  }
  
  .headline__text {
    color: $borders;
    margin-left: 0.58rem;
    $min_font_size: 40px;
    $max_font_size: 62px;
    margin-bottom: 0.4rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    @include fluid-type(500px, 1500px, $min_font_size, $max_font_size);
  }
    
  .headline__line {
    height: 0.375rem;
    width: 100%;
    background-color:$borders;
    margin-left: 0.4rem;
    margin-bottom: 0.5rem;
    @media screen and (max-width: 510px) {
      display: none;
    }
  } 
}