.page {
  
  &__wrapper {
    margin-left: 3.875rem;
    margin-top: 5.667rem;
    margin-right: 3.708rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $smDesktopWidth) {
      flex-wrap: wrap;
    }
    @media screen and (max-width: 530px) {
      margin-left: 1.875rem;
      margin-right: 1.708rem;
    }
  }

  &__column_position-left {
    background-color: #FFF;
    width: 37.2%;
    margin-right: 7,29%;
    @media screen and (max-width: $smDesktopWidth ) {
    width: 100%;
    margin-right: 0;
    }
  }
  
  &__column_position-right {
    background-color: #fff;
    width: 55.98%;
    @media screen and (max-width: $smDesktopWidth ) {
      width: 100%;
    }
  }
}