mixin page
    main.page
        .page__wrapper
            .task 1. Задача Анаграммы
            .task 2. Только уникальные значения
            .task 3. Найти пересечение двух массивов
            .task 4. Изоморфные строки
            .task 5. Сбалансированность фигурных скобок
            .task 6. Являеся ли строка полиндромом
            .task 7. Сортировка массива
            .task 8. Найти пропущенное значение в массиве
            .task 9. Перенос нулей в конец массива
            .task 10. Найти min/max
            .task 11. Написать функцию получения простых чисел
            .task 12. Реазизовать функция 'sum'
            .task 13. Реализовать класс 'Dummy'