include ../avatar/avatar.pug
include ../profile/profile.pug
include ../contact/contact.pug
include ../skills/skills.pug
include ../education/education.pug
include ../experience/experience.pug
include ../software/software.pug
include ../headline/headline.pug
include ../education-experience-item/education-experience-item.pug
include ../software-bar/software-bar.pug
include ../skills-filled-points/skills-filled-points.pug

mixin page
    main.page
        .page__wrapper
            section.page__column.page__column_position-left

                +avatar({
                    name: "name here", 
                    surname: "surname", 
                    title: "graphic designer"
                })
                    
                +profile ({
                    source: "./img/profile-icon.png", 
                    title: "profile", 
                    text: `Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis 
                      dis parturient montes, br nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis 
                      enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam 
                      dictum felis eu`,
                      bold: `pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo 
                      ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla 
                      ut metus varius laoreet. Quisque rutrum.`
                })
                    
                +contact({
                    source: "./img/phone-icon.png", 
                    title: "contact", 
                    address: "Main Street, City.", 
                    email: "contact@domain.com.", 
                    phone: "555-555-555", 
                    website: "www.yourweb.com"
                })
                   
                +skills({
                    headline: {
                        source: "./img/skills-icon.png", 
                        title: "skills",
                    },
                    skills: [
                        {skill: "creative", level: "9"},
                        {skill: "teamwork", level: "11"},
                        {skill: "innovate", level: "6"},
                        {skill: "communication", level: "11"}
                    ]
                })
                
            section.page__column.page__column_position-right

                +education({
                    headline: {
                        source: "./img/education-icon.png", 
                        title: "education"
                    },
                    contentContainer: [
                        { 
                            firstLineFirstPositionColor: "blue",
                            firstLineFirstPositionContent: "master degree", 
                            date: "// Feb 2011 - Jun 2014", 
                            secondLine: "university name", 
                            content: `Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus 
                                et magnis dis parturient montes, nascetur ridiculus mus. Donec quam 
                            felis, ultricies nec, pellentesque.`
                        },
                        { 
                            firstLineFirstPositionColor: "blue",
                            firstLineFirstPositionContent: "master degree", 
                            date: "// Feb 2011 - Jun 2014", 
                            secondLine: "university name", 
                            content: `Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus 
                                et magnis dis parturient montes, nascetur ridiculus mus. Donec quam 
                            felis, ultricies nec, pellentesque.`
                        },
                        { 
                            firstLineFirstPositionColor: "blue",
                            firstLineFirstPositionContent: "master degree", 
                            date: "// Feb 2011 - Jun 2014", 
                            secondLine: "university name", 
                            content: `Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus 
                                et magnis dis parturient montes, nascetur ridiculus mus. Donec quam 
                            felis, ultricies nec, pellentesque.`
                        },
                        { 
                            firstLineFirstPositionColor: "blue",
                            firstLineFirstPositionContent: "master degree", 
                            date: "// Feb 2011 - Jun 2014", 
                            secondLine: "university name", 
                            content: `Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus 
                                et magnis dis parturient montes, nascetur ridiculus mus. Donec quam 
                            felis, ultricies nec, pellentesque.`
                        }
                    ]
                })
                     
                +experience({
                    headline: {
                        source: "./img/experience-icon.png", 
                        title: "experience"
                    },
                    contentContainer: [
                        { 
                            firstLineFirstPositionColor: "black",
                            firstLineFirstPositionContent: "company name", 
                            date: "// Feb 2011 - Jun 2014", 
                            secondLine: "Your job here", 
                            content: `Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus 
                                et magnis dis parturient montes, nascetur ridiculus mus. Donec quam 
                            felis, ultricies nec, pellentesque.`
                        },
                        {
                            firstLineFirstPositionColor: "black",
                            firstLineFirstPositionContent: "company name", 
                            date: "// Feb 2011 - Jun 2014", 
                            secondLine: "Your job here", 
                            content: `Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus 
                                et magnis dis parturient montes, nascetur ridiculus mus. Donec quam 
                                felis, ultricies nec, pellentesque.`
                        },
                        {
                            firstLineFirstPositionColor: "black",
                            firstLineFirstPositionContent: "company name", 
                            date: "// Feb 2011 - Jun 2014", 
                            secondLine: "Your job here", 
                            content: `Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus 
                                et magnis dis parturient montes, nascetur ridiculus mus. Donec quam 
                                felis, ultricies nec, pellentesque.`
                        }
                    ]
                })

                +software({
                    headline: {
                        source: "./img/software-icon.png",
                        title: "software", 
                    },
                    skills: [
                        {skill: "photoshop", level: "91"},
                        {skill: "dreamweaver", level: "84"},
                        {skill: "illustrator", level: "70"},
                         {skill: "after effects", level: "62" },
                        {skill: "indesign", level: "55" },
                        {skill: "html&css3", level: "91"}
                    ]
                })