.page {
  
  &__wrapper {
    margin: 4.9rem 3.708rem 0 3.875rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media screen and (max-width: $smDesktopWidth) {
      flex-wrap: wrap;
    }

    @media screen and (max-width: 530px) {
      margin: 0 1.708rem 0 1.875rem;
    }
  }

  &__column_position-left {
    width: 37.2%;
    margin-right: 7,29%;

    @media screen and (max-width: $smDesktopWidth ) {
    width: 100%;
    margin-right: 0;
    }
  }
  
  &__column_position-right {
    width: 55.98%;

    @media screen and (max-width: $smDesktopWidth ) {
      width: 100%;
    }
  }
}