mixin headline(src, text)  
    .headline
        .headline-wrapper
            div
                img(src=src, class='headline_avatar')
            h3.headline-text= text
            div.headline-line