mixin headline(src, text)  
    .headline
        .headline_wrapper
            div
                img(src=src, class='headline_avatar')
            h3.headline_text= text
            div.headline_line