mixin contact
    .contact
        .contact__header
            include ../headline/headline.pug
            +headline("./img/phone-icon.png", "CONTACT")
        .contact__item
            .contact__item__container1 address 
            a.contact__item__container2 Main Street, City.
        .contact__item
            .contact__item__container1 e-mail 
            a(href="mailto: contact@domain.com", class="contact__item__container2") contact@domain.com.
        .contact__item
            .contact__item__container1 phone
            a(href="tel: 555-555-555", class="contact__item__container2") 555-555-555
        .contact__item
            .contact__item__container1 website
            a(href="www.yourweb.com", class="contact__item__container2") www.yourweb.com