.contact {
  
  &__wrapper {
    margin-top: 0.833rem;
    margin-bottom: 2.9rem;
  }
  
  &__item {
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-top: 0.85rem;
    @media screen and (max-width: $smDesktopWidth) {
      margin-left: 20%;
    }
  
    &-header {
      width: 8.2rem; 
      color: $borders;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.35rem;
      margin-top: 0.74rem;
      @media screen and (max-width: 1300px) {
        width: 4.792rem;
        font-size: 1rem;
      }
  
      @media screen and (max-width: $smDesktopWidth) {
        width: 7.292rem;
        font-size: 1rem;
      } 
      @media screen and (max-width: 510px) {
        width: 4.292rem;
        font-size: 1rem;
      }
    }
    
    &-content {
      font-weight: normal;
      color: #000000;
      white-space: nowrap;
      font-size: 1.35rem;
      margin-top: 0.74rem;
      color: #000000;
      text-decoration: none;
      word-break: break-all;
      @media screen and (max-width: 1300px) {
        min-width: 4.792rem;
        font-size: 1rem;
        margin-left: 5%;
      }
      @media screen and (max-width: $smDesktopWidth) {
        font-size: 1rem;
        margin-left: 5%;
      }
    }
  }
}