mixin contact(options = {source: "", title: "", address: "", email: "", phone: "", website: ""})
    -let {source, title, address, email, phone, website} = options;
    .contact
        .contact__header
            +headline(source, title)
        .contact__item
            .contact__item-header address 
            a.contact__item-content= address
        .contact__item
            .contact__item-header e-mail 
            a(href=`mailto: ${email}`, class="contact__item-content")= email 
        .contact__item
            .contact__item-header phone
            a(href=`tel: ${phone}`, class="contact__item-content")= phone
        .contact__item
            .contact__item-header website
            a(href= website, target="_blank", rel="noopener noreferrer", class="contact__item-content")= website