@font-face {
    font-family: 'Myriad-Pro';
   	src: url('../fonts/Regular/Myriad-Pro.eot');
    src: url('../fonts/Regular/Myriad-Pro.eot') format('embedded-opentype'),
    	 url('../fonts/Regular/Myriad-Pro.woff') format('woff'),
   	     url('../fonts/Regular/Myriad-Pro.ttf') format('truetype'),
   	     url('../fonts/Regular/Myriad-Pro.svg') format('svg');
}

@font-face {
    font-family: 'Myriad-Pro-Bold';
    src: url('../fonts/Bold/Myriad-Pro-Bold.eot');
    src: url('../fonts/Bold/Myriad-Pro-Bold.eot') format('embedded-opentype'),
    	 url('../fonts/Bold/Myriad-Pro-Bold.woff') format('woff'),
         url('../fonts/Bold/Myriad-Pro-Bold.ttf') format('truetype'),
         url('../fonts/Bold/Myriad-Pro-Bold.svg') format('svg');
}

@font-face {
    font-family: 'Myriad-Pro-Light';
    src: url('../fonts/Light/Myriad-Pro-Light.eot');
    src: url('../fonts/Light/Myriad-Pro-Light.eot') format('embedded-opentype'),
    	 url('../fonts/Light/Myriad-Pro-Light.woff') format('woff'),
         url('../fonts/Light/Myriad-Pro-Light.ttf') format('truetype'),
         url('../fonts/Light/Myriad-Pro-Light.svg') format('svg');
}