.profile {
  width: 100%;

  .profile__headline {
    width:100%;
  }

  .profile__text {
    margin-bottom: 2.917rem;
    margin-top: 0.3rem;
    $min_font_size: 17px;
    $max_font_size: 24px;
    line-height: 1.23;
    @include fluid-type(100px, $desktopWidth, $min_font_size, $max_font_size);
    .profile__text_bold {
      font-family: $boldFont;
    }
  }
}