mixin profile(options = {source: "", title: "", text: "", bold:""})
    -let {source, title, text, bold} = options;
    .profile
        .profile__headline
            include ../headline/headline.pug
            +headline(source, title)
        .profile__text= text
            span.profile__text_bold= bold
