mixin profile(options = {source: "./img/profile-icon.png", title: "profile", text: "text"})
    -let {source= "./img/profile-icon.png", title= "profile", text= "text"} = options;
    .profile
        .profile__headline
            include ../headline/headline.pug
            +headline(source, title)
        .profile__text= text
