mixin experience_item(company_name, date, job,content)
    .experience-item
        .experience-item-wrapper
            .experience-item-wrapper__dot
                .dot
            .experience-item-wrapper__content
                .experience-item-wrapper__content-1line
                    p.company-name=company_name
                        span.date=date
                div.experience-item-wrapper__content-2line
                    p.job=job
                div.experience-item-wrapper__content-3line
                    p.container=content
