mixin education_item(degree, date, university_name,content)
    .education_item
        .education_item_wrapper
            div.education_item_wrapper__dot
                div.dot
            div.education_item_wrapper__content
                div.education_item_wrapper__content__1line
                    p.degree=degree
                        span.date=date
                div.education_item_wrapper__content__2line
                    p.university_name=university_name
                div.education_item_wrapper__content__3line
                    p.container=content
