mixin avatar(options = {name:"name", surname:"surname", title:"graphic designer"})
    -let {name= "name", surname= "surname", title= "graphic designer"} = options;
    .avatar
        .avatar__border 
            .avatar__photo 
        .avatar__name= name
        .avatar__surname= surname
        .avatar__title= title
