@import "scss_assets/mixins_functions.scss";
.avatar {
  width:100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 80px;
  margin: 0; 
  font-family: $boldFont;

  .avatar__border {   
    margin: auto;
    width: 10.417rem;
    height: 10.417rem;   
    border: 2px solid $borders;
    border-radius: 50%;

    @media screen and (max-width: $tableWidth) {
      width: 7.5rem;
      height: 7.5rem;  
    }
        .avatar__photo {   
          height: 9.333rem;
          width: 9.333rem;
          border-radius: 50%;
          background: $borders;
          margin: 0.542rem;

          @media screen and (max-width: $tableWidth) {
            width: 6.717rem;
            height: 6.717rem; 
            margin: 0.390rem;
          }
        }   
  }

  .avatar__name {
    line-height: 80%;
    letter-spacing: -1px;
    font-family: $lightFont;
    top: 0.417rem;
    $min_font_size: 17px;
    $max_font_size: 57px;
    margin-block-start: 0;
    margin-block-end: 0;
    position: relative;
    @include fluid-type(100px, $smDesktopWidth, $min_font_size, $max_font_size);
  }

  .avatar__surname {
    font-size: 58px;
    $min_font_size: 17px;
    $max_font_size: 64px;
    margin-block-start: 0;
    margin-block-end: 0;
    position: relative;
    @include fluid-type(100px, $smDesktopWidth, $min_font_size, $max_font_size);
  }
  
  .avatar__title {
    line-height: 200%;
    letter-spacing: -1px;
    $min_font_size: 17px;
    $max_font_size: 30px;
    top: -0.833rem;
    margin-block-start: 0;
    margin-block-end: 0;
    position: relative;
    @include fluid-type(100px, $smDesktopWidth, $min_font_size, $max_font_size);
  }
}
