.skills-dots {
  max-width: 70%;
  margin: auto;
  margin-bottom: -0.417rem;

  .skills-filled-points__headline {
    color: $mainFontColor;
    text-align: center;
    margin-bottom: 0.292rem;
    font-family: $mainFont; 
    $min_font_size: 20px;
    $max_font_size: 38px;
    text-transform: uppercase;
    @include fluid-type(100px, $desktopWidth, $min_font_size, $max_font_size);
  }

  .skills-filled-points__points-container {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    
    .skills-filled-points__filled-point {
      background: $borders;
      height: 0.792rem;
      width: 0.792rem;
      border-radius: 50%; 
      @media screen and (max-width: $smDesktopWidth) {
        height: 0.708rem;
        width: 0.708rem;
      }            
      @media screen and (max-width: $tableWidth) {
        height: 0.625rem;
        width: 0.625rem;
      }
    }

    .skills-filled-points__empty-point {
      background: $zero-color;
      height: 0.792rem;
      width: 0.792rem;
      border-radius: 50%;
      @media screen and (max-width: $smDesktopWidth) {
        height: 0.708rem;
        width: 0.708rem;
      }            
      @media screen and (max-width: $tableWidth) {
        height: 0.625rem;
        width: 0.625rem;
      }
    }
  }
}