.skills-filled-points {
  
  &__wrapper {
    margin: auto;
    margin-bottom: 1.25rem;
    width: 70%;
  }

  &__headline {
    color: $mainFontColor;
    text-align: center;
    margin-bottom: 0.292rem;
    margin-left: 0.46rem;
    font-weight: lighter;
    letter-spacing: 0.05rem;
    font-size: 1.583rem;
    text-transform: uppercase;
  }

  &__points-container {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top: 0.4rem;
    margin-left: -0.15rem;
    margin-bottom: 0rem;
  }

  &_filled-point {
    background: $borders;
    height: 1.1rem;
    width: 1.1rem;
    border-radius: 50%; 
    @media screen and (max-width: $smDesktopWidth) {
      height: 0.708rem;
      width: 0.708rem;
    }            
    @media screen and (max-width: $tableWidth) {
      height: 0.625rem;
      width: 0.625rem;
    }
  }

  &_empty-point {
    background: $zero-color;
    height: 1.1rem;
    width: 1.1rem;
    border-radius: 50%;
    @media screen and (max-width: $smDesktopWidth) {
      height: 0.708rem;
      width: 0.708rem;
    }            
    @media screen and (max-width: $tableWidth) {
      height: 0.625rem;
      width: 0.625rem;
    }
  }
}
