mixin skills-filled-points( headline, numberOfDots, maxAmount)
    .skills-filled-points
        .skills-filled-points__wrapper
            .skills-filled-points__headline= headline
            .skills-filled-points__points-container
                - let i = 0;
                while i < maxAmount
                    if i < numberOfDots
                        .skills-filled-points_filled-point
                    else
                        .skills-filled-points_empty-point
                    - i+=1;