mixin experience-item( company_name, date, job, content)
    .experience-item
        .experience-item__dot
            .dot
        .experience-item__content
            .experience-item__content-1line
                p.experience-item__company-name= company_name
                    span.experience-item__date= date
            div.experience-item__content-2line
                p.experience-item__job= job
            div.experience-item__content-3line
                p.experience-item__container= content
