mixin experience-item( companyName, date, job, content)
    .experience-item
        .experience-item__dot-container
            .experience-item__dot
        .experience-item__content
            .experience-item__company-name-date-wrapper
                p.experience-item__company-name= companyName
                    span.experience-item__date= date
            .experience-item__job-wrapper
                p.experience-item__job= job
            .experience-item__content-wrapper
                p.experience-item__content= content
