mixin dots(headline, number_of_dots)
    .skills-dots-wrapper
        .skills-dots-wrapper__headline
            p= headline
        .skills-dots-wrapper__dots-container
            - var i = 0;
            while i<12
                if i<number_of_dots
                    .skills-dots-wrapper__filled-dot
                else
                    .skills-dots-wrapper__empty-dot
                - i++;