mixin dots(headline, number_of_dots)
    .skills_dots
        .skills_dots_wrapper
            div.skills_dots_wrapper__headline
                p= headline
            div.skills_dots_wrapper__dots-container
                - var i = 0;
                while i<12
                    if i<number_of_dots
                        div.filled_dot
                    else
                        div.empty_dot
                    - i++;