mixin dots(headline, number_of_dots)
    .skills-dots
        .skills-dots-wrapper
            div.skills-dots-wrapper__headline
                p= headline
            div.skills-dots-wrapper__dots-container
                - var i = 0;
                while i<12
                    if i<number_of_dots
                        .filled-dot
                    else
                        .empty-dot
                    - i++;