@import "scss_assets/mixins_functions.scss";
.experience-item {
  width: 100%;
  
  .experience-item-wrapper {   
    margin-top: 50px;
    margin-bottom: -25px;
    display: flex;
    flex-direction:row;

    .experience-item-wrapper__dot {
      margin-right: 5%;
      margin-top: 0.5%;
      align-self: flex-start;

      .dot {
        background: $mainFontColor;
        height: 27px;
        width: 27px;
        border-radius: 50%;
        @media screen and (max-width: $desktopWidth) {
          height: 24px;
          width: 24px;
        }
        @media screen and (max-width: $tableWidth) {
          height: 20px;
          width: 20px;
        }            
      }
    }
    .experience-item-wrapper__content {    
      display: flex;
      flex-direction: column;
      margin-bottom: -30px;

      .experience-item-wrapper__content-1line {
        line-height: 0.9;

        .experience-item-wrapper__company-name {   
          margin-block-start: 0px;
          margin-block-end: 0px;
          font-size: 34px;
          color: $mainFontColor;
          font-family: $boldFont;
          $min_font_size: 24px;
          $max_font_size: 34px;
          @include fluid-type(100px, $desktopWidth, $min_font_size, $max_font_size);  

          .experience-item-wrapper__date {
            margin-left: 5%;
            color:$mainFontColor;
            font-size: 34px;
            font-family: $mainFont; 
          }
        }
      }
      .experience-item-wrapper__job {
        margin-block-start: 0.5%;
        margin-block-end: 4%;
        font-size: 34px;
        color:$mainFontColor;
        font-family: $lightFont;
        $min_font_size: 24px;
        $max_font_size: 34px;
        @include fluid-type(100px, $desktopWidth, $min_font_size, $max_font_size);   
      }
      .experience-item-wrapper__content-3line {
        margin-top: -6%;
        text-align:justify;
        $min_font_size: 17px;
        $max_font_size: 24px;
        @include fluid-type(100px, $desktopWidth, $min_font_size, $max_font_size);
      }
    }
  }
}