mixin progress_bar(programm,value)    
    .software_bar
        .software_bar__headline
            p.headline= programm
        .software_bar__progress
            progress(value=value, max="100", class="progress_bar")
