mixin progress_bar(programm,value)    
    .software-bar
        .software-bar__headline
            p.headline= programm
        .software-bar__progress
            progress(value=value, max="100", class='progress-bar')
