mixin progress-bar(programm,value)    
    .software-bar
        p.software-bar__headline= programm
        .software-bar__progress
            progress(value=value, max="100", class='software-bar__progress-bar')
