@import "scss_assets/mixins_functions.scss";
.software-bar {
  width: 100%;
  margin-bottom: 12px;
  .software-bar__headline {
    width: 100%;
    font-family: $mainFont;
    $min_font_size: 20px;
    $max_font_size: 38px;
    @include fluid-type(100px, $desktopWidth, $min_font_size, $max_font_size);
    .headline {
      margin-block-start: 0.5%;
      margin-block-end: 8px;
    }
  }
  .software-bar__progress {
    width: 100%;
    progress { 
      min-width: 80%;
      border: 0; /* for IE */
      height: 30px;
      margin-right: 20%;
      background-color: $zero-color;
      overflow: hidden;
      @media screen and (max-width: $tableWidth) {
        min-width: 130%;
        margin-right: 0;
      }
      @media screen and (max-width: $phoneWidth) {
        min-width: 80% ;
      }
    }
    .progress-bar::-webkit-progress-value {
      background-color: $borders;
    }
    .progress-bar::-moz-progress-bar {
      background-color: $borders;
    }
    .progress-bar::-ms-fill {
      background-color: $borders;
      border:0;
    }
    /* necessary to style the progress bar background */
    ::-webkit-progress-bar {
      background-color: $zero-color ; 
    }
  }
}