@font-face {
    font-family: 'Myriad-Pro';
   	src: url('Regular/Myriad-Pro.eot');
    src: url('Regular/Myriad-Pro.eot') format('embedded-opentype'),
    	 url('Regular/Myriad-Pro.woff') format('woff'),
   	     url('Regular/Myriad-Pro.ttf') format('truetype'),
   	     url('Regular/Myriad-Pro.svg') format('svg');
}

@font-face {
    font-family: 'Myriad-Pro-Bold';
    src: url('Bold/Myriad-Pro-Bold.eot');
    src: url('Bold/Myriad-Pro-Bold.eot') format('embedded-opentype'),
    	 url('Bold/Myriad-Pro-Bold.woff') format('woff'),
         url('Bold/Myriad-Pro-Bold.ttf') format('truetype'),
         url('Bold/Myriad-Pro-Bold.svg') format('svg');
}

@font-face {
    font-family: 'Myriad-Pro-Light';
    src: url('Light/Myriad-Pro-Light.eot');
    src: url('Light/Myriad-Pro-Light.eot') format('embedded-opentype'),
    	 url('Light/Myriad-Pro-Light.woff') format('woff'),
         url('Light/Myriad-Pro-Light.ttf') format('truetype'),
         url('Light/Myriad-Pro-Light.svg') format('svg');
}