@import "headline/headline.scss";

.profile {
    width: 100%;
    .profile__wrapper
        {
            width: 100%;
            .profile__text
                {
                    font-size: $mainFontSize;
                    
                }
                .profile__text_bold
                    {
                        font-family: $boldFont;
                    }
        }
}