mixin experience
    .experience
        .experience__headline
            include ../headline/headline.pug
            +headline("./img/experience-icon.png", "EXPERIENCE")
        .experience__item
            include ../experience-item/experience-item.pug
            +experience-item(`COMPANY NAME`, 
            `// Feb 2011 - Jun 2014`,
            `YOUR JOB HERE`, 
            `Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus 
            et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, 
            ultricies nec, pellentesque.`)
            +experience-item(`COMPANY NAME`, 
            `// Feb 2011 - Jun 2014`,
            `YOUR JOB HERE`, 
            `Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis 
            dis parturient montes, nascetur ridiculus mus. Donec quam felis, 
            ultricies nec, pellentesque.`)
            +experience-item(`COMPANY NAME`, 
            `// Feb 2011 - Jun 2014`,
            `YOUR JOB HERE`, 
            `Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et 
            magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, 
            ultricies nec, pellentesque.`)