mixin experience(options = {source: "./img/experience-icon.png", title: "experience", companyname: "company name", date: "// Feb 2011 - Jun 2014", job: "Your job here", text: "Lorem"})
    -let {source= "./img/experience-icon.png", title= "experience", companyname= "company name", date= "// Feb 2011 - Jun 2014", job= "Your job here", text= "text"} = options;
    .experience
        .experience__headline
            include ../headline/headline.pug
            +headline( source, title )
        .experience__item
            include ../experience-item/experience-item.pug
            +experience-item( companyname, date, job, text)
            +experience-item( companyname, date, job, text)
            +experience-item( companyname, date, job, text)