mixin experience(options ={headline: {source: "", title: ""}, contentContainer:[]})
    -let { headline:{ source, title }, contentContainer} = options;
    .experience
        .experience__headline
            +headline( source, title )
        .experience__items-list
            -contentContainer.forEach(function(item) {
                    +list-item(item.firstLineFirstPositionColor, item.firstLineFirstPositionContent, item.date, item.secondLine, item.content)
            -});