mixin experience(options ={headline: {source: "", title: ""}, content:[{companyName: "", date: "", job: "", text: ""}, {companyName: "", date: "", job: "", text: ""}, {companyName: "", date: "", job: "", text: ""}]})
    -let {source, title, companyName, date, job, text} = options;
    .experience
        .experience__headline
            +headline( options.headline.source, options.headline.title )
        .experience__item
            - var i = 0;
                    while i < 3
                        +experience-item(options.content[i].companyName, options.content[i].date, options.content[i].job, options.content[i].text)
                        - i++;