include ../headline/headline.pug
include ../list-item/list-item.pug

mixin experience(options ={headline: {source: "", title: ""}, contentContainer:[]})
    -let { headline:{ source, title }, contentContainer} = options;
    .experience
        .experience__headline
            +headline( source, title )
        .experience__items-list
            -contentContainer.forEach(function(item) {
                    +list-item(item.color, item.degree, item.date, item.job, item.content)
            -});