mixin skills
    .skills-wrapper
        .skills-wrapper__headline
            include ../block_profile/headline/headline.pug
            +headline("./img/skills-icon.png", "SKILLS")
        .skills-wrapper__items
            include skills_dots/skills_dots.pug
            +dots("CREATIVE",9)
            +dots("TEAMWORK",11)
            +dots("INNOVATE",6)
            +dots("COMMUNICATION",11)