.education
    .education_wrapper
        div
            include ../block_profile/headline/headline.pug
            +headline("./img/education-icon.png", "EDUCATION")
        div.education_wrapper__item
            include education_item/education_item.pug
            +education_item("MASTER DEGREE","// Feb 2011 - Jun 2014","UNIVERSITY NAME","Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.")
            +education_item("MASTER DEGREE","// Feb 2011 - Jun 2014","UNIVERSITY NAME","Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.")
            +education_item("MASTER DEGREE","// Feb 2011 - Jun 2014","UNIVERSITY NAME","Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.")
            +education_item("MASTER DEGREE","// Feb 2011 - Jun 2014","UNIVERSITY NAME","Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.")
