@import "scss_assets/mixins_functions.scss";
@import "education_item/education_item.scss";

.education-wrapper {
  width: 100%;
  margin-bottom: 35%;
  
  .education-wrapper__item {
    width: 100%;
    margin-bottom: -30%;
  }
}