mixin software
    .software-wrapper
        .software-wrapper__headline
            include ../block_profile/headline/headline.pug
            +headline("./img/software-icon.png", "SOFTWARE")
        .software-wrapper__item
            include ../block_software_bar/software_bar.pug
            .software-wrapper__item-column1
                +progress-bar("PHOTOSHOP",91)
                +progress-bar("ILLUSTRATOR",70)
                +progress-bar("INDESIGN",55)
            .software-wrapper__item-column2
                +progress-bar("DREAMWEAVER",84)
                +progress-bar("AFTER EFFECTS",62)
                +progress-bar("HTML&CSS3",91)