.software
    .software_wrapper
        div
            include ../block_profile/headline/headline.pug
            +headline("src/img/SOFTWARE_ICON.png", "SOFTWARE")
        .software_wrapper__item
            include software_bar/software_bar.pug
            div.software_column1
                +progress_bar("PHOTOSHOP",91)
                +progress_bar("ILLUSTRATOR",70)
                +progress_bar("INDESIGN",55)
            div.software_column2
                +progress_bar("DREAMWEAVER",84)
                +progress_bar("AFTER EFFECTS",62)
                +progress_bar("HTML&CSS3",91)

            