.software
    .software-wrapper
        div
            include ../block_profile/headline/headline.pug
            +headline("./img/software-icon.png", "SOFTWARE")
        .software-wrapper__item
            include software_bar/software_bar.pug
            div.software-column1
                +progress_bar("PHOTOSHOP",91)
                +progress_bar("ILLUSTRATOR",70)
                +progress_bar("INDESIGN",55)
            div.software-column2
                +progress_bar("DREAMWEAVER",84)
                +progress_bar("AFTER EFFECTS",62)
                +progress_bar("HTML&CSS3",91)