//@import "block_profile/headline/headline.scss";
@import "scss_assets/mixins_functions.scss";
@import "contact_line/contact_line.scss";

.contact-wrapper {
  width: 100%;
  margin-bottom: 80px;
  .contact-wrapper__item {
    margin-top:20px;
    margin-bottom: 20px;
  }
}