mixin contact
    .contact-wrapper
        .contact-wrapper__header
            include ../block_profile/headline/headline.pug
            +headline("./img/phone-icon.png", "CONTACT")
        .contact-wrapper__item
            include contact_line/contact_line.pug
            +contact_line("ADDRESS","Main Street, City.")
        .contact-wrapper__item
            +contact_line("E-MAIL","contact@domain.com")
        .contact-wrapper__item
            +contact_line("PHONE","555-555-555")
        .contact-wrapper__item
            +contact_line("WEBSITE","www.yourweb.com")
        