// Fonts
$mainFont                : Myriad-Pro ,'Montserrat', Helvetica, Arial, sans-serif;
$boldFont                : Myriad-Pro-Bold ,'Montserrat', Helvetica, Arial, sans-serif;
$lightFont               : Myriad-Pro-Light ,'Montserrat', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #000000;;
$mainFontSize            : 24px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;


// Colors
$borders                 : #3d6cb0;
$zero-color 			 : #e6e6e6;