mixin skills(options = {headline:{source: "", title: "", }, skills:[]})
    -let { headline:{ source, title }, skills } = options;
    .skills
        .skills__headline
            +headline(source, title)
        .skills__items
            each item in skills
                -let {skill, level} = item;
                +skills-filled-points(skill, level)