mixin skills
    .skills
        .skills__headline
            include ../headline/headline.pug
            +headline("./img/skills-icon.png", "SKILLS")
        .skills__items
            include ../skills-dots/skills-dots.pug
            +dots("CREATIVE",9)
            +dots("TEAMWORK",11)
            +dots("INNOVATE",6)
            +dots("COMMUNICATION",11)