mixin skills(options = {source: "./img/skills-icon.png", title: "skills", FirstSkill: "creative", FirstSkillNumber: "9", SecondSkill: "teamwork", SecondSkillNumber: "11", ThirdSkill: "innovate", ThirdSkillNumber: "6", FourthSkill: "communication", FourthSkillNumber: "11"})
    -let {source= "./img/skills-icon.png", title= "profile", firstSkill= "creative",  firstSkillNumber= "9",  secondSkill= "teamwork", secondSkillNumber= "11", thirdSkill= "innovate", thirdSkillNumber= "6", fourthSkill= "communication", fourthSkillNumber= "11"} = options;
    .skills
        .skills__headline
            include ../headline/headline.pug
            +headline( source, title)
        .skills__items
            include ../skills-filled-points/skills-filled-points.pug
            +skills-filled-points(firstSkill, firstSkillNumber)
            +skills-filled-points(secondSkill, secondSkillNumber)
            +skills-filled-points(thirdSkill, thirdSkillNumber)
            +skills-filled-points(fourthSkill, fourthSkillNumber)