mixin skills(options = {source: "", title: "", FirstSkill: "", FirstSkillNumber: "", SecondSkill: "", SecondSkillNumber: "", ThirdSkill: "", ThirdSkillNumber: "", FourthSkill: "", FourthSkillNumber: ""})
    -let {source, title, firstSkill,  firstSkillNumber,  secondSkill, secondSkillNumber, thirdSkill, thirdSkillNumber, fourthSkill, fourthSkillNumber} = options;
    .skills
        .skills__headline
            include ../headline/headline.pug
            +headline( source, title)
        .skills__items
            include ../skills-filled-points/skills-filled-points.pug
            +skills-filled-points(firstSkill, firstSkillNumber)
            +skills-filled-points(secondSkill, secondSkillNumber)
            +skills-filled-points(thirdSkill, thirdSkillNumber)
            +skills-filled-points(fourthSkill, fourthSkillNumber)