mixin skills
    .skills
        .skills__headline
            include ../headline/headline.pug
            +headline("./img/skills-icon.png", "SKILLS")
        .skills__items
            include ../skills-dots/skills-dots.pug
            +skills-dots("CREATIVE", 9)
            +skills-dots("TEAMWORK", 11)
            +skills-dots("INNOVATE", 6)
            +skills-dots("COMMUNICATION", 11)