.skills {

  &__wrapper {
    margin-bottom: 3.333rem;
  }
  
  &__items {
    margin-top: 1.2rem;
    width: 29rem;
    @media screen and (max-width: 1500px) {
      width: 22rem;
    }
    @media screen and (max-width: 1150px) {
      width: 18rem;
    }
    @media screen and (max-width: $smDesktopWidth) {
      margin: auto;
      width: 18rem;
    }
  }
}
   