include ../headline/headline.pug
include ../skills-filled-points/skills-filled-points.pug

mixin skills(options = {headline:{source: "", title: "", }, skills:[]})
    -let { headline:{ source, title }, skills } = options;
    .skills
        .skills__wrapper
            .skills__headline
                +headline(source, title)
            .skills__items
                each item in skills
                    -let {skill, level, maxAmountOfDots} = item;
                    +skills-filled-points(skill, level, maxAmountOfDots)