doctype html
html
	head
		meta(charset = 'utf-8')
		meta(name='viewport', content="initial-scale=1.0, width=device-width")
		title FSD_CV_Template
	body
		main.page
			.wrapper
					section.left-col
						include blocks/block_avatar/avatar.pug
						include blocks/block_profile/profile.pug
						include blocks/block_contact/contact.pug
						include blocks/block_skills/skills.pug 
					section.right-col
						include blocks/block_education/education.pug 
						include blocks/block_experience/experience.pug
						include blocks/block_software/software.pug 
	