doctype html
html
	head
		meta(charset = 'utf-8')
		meta(name='viewport', content="initial-scale=1.0, width=device-width")
		title FSD_CV_Template
	body
		main.page
			.wrapper
					section.left-col
						include blocks/block_avatar/avatar.pug
						include blocks/block_profile/profile.pug 
					//- include blocks/block-contact/contact.pug 
					//- include blocks/block-skills/skills.pug 
					section.right-col
						p Привет красавчик Право
		//- 			include blocks/block-education/education.pug 
		//- 			include blocks/block-experience/experience.pug 
		//- 			include blocks/block-software/software.pug 
		//- //  script(src="dist/app.js")