doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        meta(name="keywords", content="Ключевые слова")
        meta(name="description", content="FSD Тестовое задение - РЕЗЮМЕ")
        link(rel="apple-touch-icon", sizes="180x180", href="img/favicons/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="img/favicons/favicon-32x32.png")
        title FSD_CV_Template
    body
        main.page
            .wrapper
                section.left-col
                    include blocks/avatar/avatar.pug
                    include blocks/profile/profile.pug
                    include blocks/contact/contact.pug
                    include blocks/skills/skills.pug
                    include blocks/education/education.pug
                    include blocks/experience/experience.pug
                    include blocks/software/software.pug

                    +avatar({name: "name here", surname: "surname", title: "graphic designer"})
                    
                    +profile ({source: "./img/profile-icon.png", 
                    title: "profile", 
                    text: `Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis 
                    dis parturient montes, br nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis 
                    enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam 
                    dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo 
                    ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla 
                    ut metus varius laoreet. Quisque rutrum.`})
                    
                    +contact({source: "./img/phone-icon.png", 
                    title: "contact", 
                    address: "Main Street, City.", 
                    email: "contact@domain.com.", 
                    phone: "555-555-555", 
                    website: "www.yourweb.com"})
                   
                    +skills({source: "./img/skills-icon.png", 
                    title: "skills", 
                    name1: "creative", 
                    nod1: "9", 
                    name2: "teamwork", 
                    nod2: "11", 
                    name3: "innovate", 
                    nod3: "6", name4: 
                    "communication", 
                    nod4: "11"})

                section.right-col
                    
                    +education({source: "./img/education-icon.png", 
                    title: "education", 
                    degree: "master degree", 
                    date: "// Feb 2011 - Jun 2014", 
                    universityname: "university name", 
                    text: `Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                    Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus 
                    et magnis dis parturient montes, nascetur ridiculus mus. Donec quam 
                    felis, ultricies nec, pellentesque.`})
                    
                    +experience({source: "./img/experience-icon.png", 
                    title: "experience", 
                    companyname: "company name", 
                    date: "// Feb 2011 - Jun 2014", 
                    job: "Your job here", 
                    text: `Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                    Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et 
                    magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, 
                    ultricies nec, pellentesque.`})
                    
                    +software({source: "./img/software-icon.png", 
                    title: "software", 
                    name1: "photoshop", 
                    nod1: "91", 
                    name2: "illustrator", 
                    nod2: "70", 
                    name3: "indesign", 
                    nod3: "55", 
                    name4: "dreamweaver", 
                    nod4: "84", 
                    name5: "after effects", 
                    nod5: "62", 
                    name6: "html&css3", 
                    nod6: "91"})