doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name="viewport", content="initial-scale=1.0, width=device-width")
        meta(name="keywords", content="Ключевые слова")
        meta(name="description", content="FSD Тестовое задение - РЕЗЮМЕ")
        link(rel="apple-touch-icon", sizes="180x180", href="img/favicons/apple-touch-icon.png")
        link(rel="icon", type="image/png", sizes="32x32", href="img/favicons/favicon-32x32.png")
        title FSD_CV_Template
    body
        main.page
            .wrapper
                section.left-col
                    include blocks/avatar/avatar.pug
                    +avatar("name here", "surname", "graphic designer")
                    include blocks/profile/profile.pug
                    +profile
                    include blocks/contact/contact.pug
                    +contact
                    include blocks/skills/skills.pug
                    +skills
                section.right-col
                    include blocks/education/education.pug
                    +education
                    include blocks/experience/experience.pug
                    +experience
                    include blocks/software/software.pug
                    +software