@import "scss_assets/fonts.scss";
@import "scss_assets/vars.scss";
@import "scss_assets/mixins_functions.scss";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  max-width: 1920px;
  min-width: 320px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: $mainFont;
  font-size: 1rem;
  font-weight: $mainFontWeight;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 { 
  margin: 0; 
  font-family: $boldFont;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  margin-left: 3.875rem;
  margin-top: 5.667rem;
  margin-right: 3.708rem;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: $smDesktopWidth) {
    flex-wrap: wrap;
  }
  @media screen and (max-width: 530px) {
    margin-left: 1.875rem;
    margin-right: 1.708rem;
  }
}

.left-col {
  background-color: #FFF;
  width: 38%;
  margin-right: 7,29%;
  @media screen and (max-width: $smDesktopWidth ) {
  width: 100%;
  margin-right: 0px;
  }
}

.right-col {
  background-color: #fff;
  width: 56.5%;
  @media screen and (max-width: $smDesktopWidth ) {
    width: 100%;
  }
} 

@import "../blocks/avatar/avatar.scss";
@import "../blocks/profile/profile.scss";
@import "../blocks/contact/contact.scss";
@import "../blocks/skills/skills.scss";
@import "../blocks/education/education.scss";
@import "../blocks/experience/experience.scss";
@import "../blocks/software/software.scss";
@import "../blocks/contact-line/contact-line.scss";
@import "../blocks/education-item/education-item.scss";
@import "../blocks/experience-item/experience-item.scss";
@import "../blocks/headline/headline.scss";
@import "../blocks/skills-dots/skills-dots.scss";
@import "../blocks/software-bar/software-bar.scss";