include ../headline/headline.pug
include ../software-bar/software-bar.pug

mixin software(options = {headline:{ source: "", title: "" }, skills: []})
    -let { headline: { source, title }, skills } = options;
    .software
        .software__headline
            +headline( source, title)
        .software__items
            each item in skills
                -let {skill, level} = item;
                +software-bar(skill, level)