mixin software
    .software
        .software__headline
            include ../headline/headline.pug
            +headline("./img/software-icon.png", "software")
        .software__items
            include ../software-bar/software-bar.pug
            .software__items-left-column
                +progress-bar("photoshop", 91)
                +progress-bar("illustrator", 70)
                +progress-bar("indesign", 55)
            .software__items-right-column
                +progress-bar("dreamweaver", 84)
                +progress-bar("after effects", 62)
                +progress-bar("html&css3", 91)