mixin software(options = {source: "", title: "", firstSkill: "", firstSkillNumber: "", secondSkill: "", secondSkillNumber: "", thirdSkill: "", thirdSkillNumber: "", fouthSkill: "", fouthSkillNumber: "", fifthSkill: "", fifthSkillNumber: "", sixthSkill: "", sixthSkillNumber: ""})
    -let {source, title, firstSkill,  firstSkillNumber,  secondSkill, secondSkillNumber, thirdSkill, thirdSkillNumber, fouthSkill, fouthSkillNumber, fifthSkill, fifthSkillNumber, sixthSkill, sixtShkillNumber} = options;
    .software
        .software__headline
            include ../headline/headline.pug
            +headline(source, title)
        .software__items
            include ../software-bar/software-bar.pug
            .software__items_left-column
                +progress-bar(firstSkill, firstSkillNumber)
                +progress-bar(secondSkill, secondSkillNumber)
                +progress-bar(thirdSkill, thirdSkillNumber)
            .software__items_right-column
                +progress-bar(fouthSkill, fouthSkillNumber)
                +progress-bar(fifthSkill, fifthSkillNumber)
                +progress-bar(sixthSkill, sixtShkillNumber)