mixin software(options = {headline:{ source: "", title: "" }, skills: []})
    -let { headline, skills } = options;
    -let { source, title } = headline; 
    .software
        .software__headline
            +headline( source, title)
        .software__items
            each item in skills
                -let {skill, level} = item;
                +software-bar(skill, level)