mixin software(options = {source: "./img/software-icon.png", title: "software", firstSkill: "photoshop", firstSkillNumber: "91", secondSkill: "illustrator", secondSkillNumber: "70", thirdSkill: "indesign", thirdSkillNumber: "55", fouthSkill: "dreamweaver", fouthSkillNumber: "84", fifthSkill: "after effects", fifthSkillNumber: "62", sixthSkill: "html&css3", sixthSkillNumber: "91"})
    -let {source= "./img/software-icon.png", title= "software", firstSkill= "photoshop",  firstSkillNumber= "91",  secondSkill= "illustrator", secondSkillNumber= "70", thirdSkill= "indesign", thirdSkillNumber= "55", fouthSkill= "dreamweaver", fouthSkillNumber= "84", fifthSkill= "after effects", fifthSkillNumber= "62", sixthSkill= "html&css3", sixtShkillNumber= "91"} = options;
    .software
        .software__headline
            include ../headline/headline.pug
            +headline(source, title)
        .software__items
            include ../software-bar/software-bar.pug
            .software__items_left-column
                +progress-bar(firstSkill, firstSkillNumber)
                +progress-bar(secondSkill, secondSkillNumber)
                +progress-bar(thirdSkill, thirdSkillNumber)
            .software__items_right-column
                +progress-bar(fouthSkill, fouthSkillNumber)
                +progress-bar(fifthSkill, fifthSkillNumber)
                +progress-bar(sixthSkill, sixtShkillNumber)