mixin software
    .software
        .software__headline
            include ../headline/headline.pug
            +headline("./img/software-icon.png", "SOFTWARE")
        .software__items
            include ../software-bar/software-bar.pug
            .software__items-column1
                +progress-bar("PHOTOSHOP", 91)
                +progress-bar("ILLUSTRATOR", 70)
                +progress-bar("INDESIGN", 55)
            .software__items-column2
                +progress-bar("DREAMWEAVER", 84)
                +progress-bar("AFTER EFFECTS", 62)
                +progress-bar("HTML&CSS3", 91)