.software {
  width: 100%;
  
  .software__items {
    margin-top: 4%;
    width: 100%;
    margin-bottom: -30%;
    margin-right: 0;
    display: flex;
    flex-direction:row;
    @media screen and (max-width: $tableWidth) {
      flex-direction:column;
      align-items: center;
      margin-left: -1.5rem;
    }

    .software__items-left-column {
      width: 50%;
    }

    .software__items-right-column {
      width: 50%;
    }                  
  }
}