mixin education(options = {source: "./img/education-icon.png", title: "education", degree: "master degree", date: "// Feb 2011 - Jun 2014", universityname: "university name", text: "Lorem"})
    -let {source= "./img/education-icon.png", title= "education", degree= "master degree", date= "// Feb 2011 - Jun 2014", universityname= "university name", text= "text"} = options;
    .education
        .education__headline
            include ../headline/headline.pug
            +headline( source, title)
        .education__item
            include ../education-item/education-item.pug
            +education-item( degree, date, universityname, text)
            +education-item( degree, date, universityname, text)
            +education-item( degree, date, universityname, text)
            +education-item( degree, date, universityname, text)
