mixin education(options ={ headline: {source: "", title: ""}, contentContainer: []})
    -let { headline, contentContainer} = options;
    -let { source, title } = headline;
    .education
        .education__headline
            +headline( source, title)
        .education__items-container
            -contentContainer.forEach(function(item) {
                    +education-experience-item(item.firstLineFirstPositionColor, item.firstLineFirstPositionContent, item.date, item.secondLine, item.content)
            -});
